*{
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

main {
  padding: .5rem 0;
}

body {
 color: #101419;
  background-image: url(images/concrete_seamless.png);
  background-color: #E6EEF2; 
  text-align: center;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  margin: 20px;
}

header {
  background-color: #3A1823; 
  font-size: 25px;
  color: #E6EEF2;
  font-family: 'Kreon', serif;
  font-weight: bold;
  /*max-width: 1000px;*/
 padding: 0 ;
  margin: 10px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;

}

h3 {
  font-size:60px;
  font-family: 'Handlee', serif;
  color:#3A1823;
  background-image: url(images/concrete_seamless.png);
  padding-top: 200px;
  line-height: 100px;

}
nav {
  text-align: center;
  background-color: #C6C6C6;

}

nav ul {
  list-style: none;
  margin: 0 auto;
  padding: 10px;
}

nav ul li {
  display: inline-block;
  margin: 0 2rem;
}

nav ul li a {
  color: #101419;
  font-size: 24px;
  font-family: 'Kreon', serif;
  text-decoration: none;
}

nav ul li a:hover {
  color: #785964;
}

ul li {
  list-style: none;
  text-decoration: none;
  color: #101419;
}
/*              
.nav__projects {  
  text-align: center;
  list-style: none;
  font-size: 25px;
  max-width: 1200px;

}

.nav__projects ul {
  list-style: none;
}

.nav__projects ul li a {
  color: #101419;
  list-style: none;
  text-decoration: none;
  padding: 12px;
  display: inline-block;

}

.nav__projects ul li a:hover {
  color: #785964;
}
*/
.enter ul {
  list-style: none;
}

.enter ul li a{
  font-family: 'Kreon', serif;
  font-size: 24px;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  color: #101419;
}

.enter ul li a:hover {
  color: #785964;
}

.headings {
  font-size: 18px;
  font-family: 'Kreon', serif;

}

.photos {
  max-width: 100%;
  position: relative;
}

.phone {
  line-height: 50px;
}

.container {
  max-width: 100%;
  width: 1200px;
  display: inline-block;
  text-align: center;
  line-height: 20px;

}

.resbod {
  line-height: 25px;
}

img { 
  max-width: 100%; 
}

figure {
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

figure:hover {
  opacity: .9;
} 

figcaption {
  color: #E6EEF2;
  opacity: 1;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Kreon', serif;
  text-align: center;
  position: absolute;
  height: 25px;
  width: 100%;

}

figcaption a {
  text-decoration: none;
  color: #E6EEF2;

}

figcaption:hover {
  opacity: .0;
}

.photos {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}

.photos .row {
  overflow: auto;
  width: 1200px;
  margin: 20px auto;
}

.photos .col {
  width: 400px;
  border-left: 3px;
  float: left;
  padding: 20px;
  margin: 20px auto;
}

.photos .tall figcaption {
    bottom: 250px;
    padding: 20px;

}

.photos .short figcaption {
  bottom: 120px;
  padding: 20px;
}
.photos .medium figcaption {
  bottom: 200px;
  padding: 20px;
}

.succ {
  padding-top: 35px;
}
