*{
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

main {
  padding: .5rem 0;
}

body {
 color: #101419;
  background-image: url(images/concrete_seamless.png);
  background-color: #E6EEF2; 
  text-align: center;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  margin: 20px;
}

header {
  background-color: #3A1823;
  font-size: 25px;
  color: #E6EEF2;
  font-family: 'Kreon', serif;
  font-weight: bold;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
}

nav {
  margin-top: 1rem;
  text-align: center;
  background-color: #C6C6C6;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 2rem;
}

nav ul li a {
  color: #101419;
  font-size: 1.2rem;
  font-family: 'Kreon', serif;
  text-decoration: none;
}

nav ul li a:hover {
  color: #785964;
}

ul li {
  list-style: none;
  text-decoration: none;
  color: #101419;
}
              

.photos {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}

.nav__projects {  
  text-align: center;
  list-style: none;
  font-size: 25px;
}
.nav__projects ul {
  list-style: none;
}

.nav__projects ul li a {
  color: #101419;
  list-style: none;
  text-decoration: none;
  padding: 12px;
  display: inline-block;
}

.nav__projects ul li a:hover {
  color: #785964;
}

.headings {
  font-size: 18px;
  font-family: 'Kreon', serif;
}

.photos {
  max-width: 100%;
  position: relative;
}

.phone {
  line-height: 50px;
}

img { 
  max-width: 100%; 
}

figure {
  margin: 0;
}

figure:hover {
  opacity: .9;
}

figcaption {
  color: #5D576B;
  opacity: .0;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Kreon', serif;
  text-align: center;
}

figcaption:hover {
  opacity: 1;
}
.photos .row {
  overflow: auto;
  width: 1200px;
  margin: 20px auto;

}

.photos .col {
  width: 400px;
  border-left: 3px solid #fff;
  float: left;
  padding: 20px;
  margin: 20px auto;
}